body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bckg-dark{
  background-color: #003333;
}

.bckg-light{
  background-color: #befaf9;
}

.color-dark{
  color: #003333;
}

.color-light{
  color: #befaf9;
}

.btn-light-style{
  text-decoration: none;
  color: #befaf9;
}

.btn-light-style:hover{
  text-decoration: none;
  color: #befaf9;
}

.btn-light-style:active{
  text-decoration: none;
  transform: translateY(4px);
}

.btn-dark-style{
  text-decoration: none;
  color: #003333;
}

.btn-dark-style:hover{
  text-decoration: none;
  color: #003333;
}

.btn-dark-style:active{
  text-decoration: none;
  transform: translateY(4px);
}

#border{
  border-radius: 50px;
  border: 7px solid #003333;
  padding: 20px; 
  width: 700px;
}